
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*reset de css a html*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Roboto;
}

nav {
    background-color: #28A745
}

.navbar-toggler {
    border-color: #FFFFFF80;
}

h5 {
    font-weight: 300;
}

.card {
    width: 250pt;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 20pt;
}

.card-body {
    height: 80px;
    width: 250pt;
    margin: auto;
}

.card-body p {
    font-weight: 300;
    color: #707070;
}

.card-footer {
    height: 50pt;
    align-items: center;
    padding: 0%;
}

small {
    margin-top: 4pt;
    text-align: right;
    width: 260pt;
    align-content: end;
}

.precio-anterior {
    width: 80pt;
    padding-left: 10pt;
    margin-top: 12pt;
    margin-bottom: 0%;
    text-align: right;
    font-weight: 300;
    font-size: 16pt;
    color: #707070;
}

.precio-oferta {
    width: 74pt;
    margin-top: 10pt;
    margin-bottom: 0%;
    padding-left: 10pt;
    text-align: right;
    font-weight: 500;
    font-size: 20pt;
    color: #28A745;
}

.datos-personales {
    height: 200pt;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#28A745;
    padding-top: 10pt;
    margin-top: 70pt;
    margin-bottom: 10pt;
    padding-bottom: 20pt;
}

form {
    justify-content: center;
}

legend {
    margin-top: 10pt;
    font-size: 21pt;
    color: #FFFFFF;
    font-weight: 500;
}

.datos-personales input {
    font-weight: 300;
    font-size: 16pt;
}

.datos-personales button {
    width: 110pt;
    font-size: 16pt;
    height: 40pt;
    font-weight: 500;
    color: #212529;
}

footer img {
    display: block;
    border-top: 24pt;
    margin-left: auto;
    margin-right: auto;
    width: 82pt;
    height: 24pt;
}

footer p {
    text-align: center;
    justify-content: center;
    width: 200pt;
    margin-left: auto;
    margin-right: auto;
    color: #707070;
    margin-bottom: 20pt;
}
