
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*reset de css a html*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

h5 {
    font-weight: 300;
}

.card-body {
    height: 119px;
    width: 278px;
    margin: 80px 21px;
}

.card-body p {
    font-weight: 300;
    color: #707070;
}

.card-footer {
    text-align: right;
}

.card-footer small {
    font-size: 16pt;
    color: #707070;
}

.card-footer span {
    font-weight: 500;
    font-size: 20pt;
    color: #28A745;
}

